registry=https://registry.npmjs.org/
@Rimac-Seguros:registry=https://npm.pkg.github.com
@rimac-seguros:registry=https://npm.pkg.github.com
@oci:registry=https://npm.pkg.github.com
@rimac:registry=https://npm.pkg.github.com
@Rimac-Seguros:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=[RIMAC_PACKAGE_TOKEN]